/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/05/2015, 12:44:08 PM
    Author     : Cesar Flores
*/

.contenedorG{
    width: 90%;
    height: 300px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    margin: auto;
    
    
}

.barras{
    display: inline-block;
    width: 10px;
    height: 100%;
    
    /* margin-right: 10px; */
    /*animation-name: subir;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-name: subir; 
    -webkit-animation-duration: 3s;*/
 }
.barras span::after{
      content:attr(data-nombre);
   text-align: center;
   color: white;
   text-shadow: -1px 0 grey, 0 1px grey,1px 0 grey, 0 -1px grey;
   -webkit-transform: rotate(270deg);
   -moz-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(270deg);
   -webkit-transform-origin: left top 0;
   -moz-transform-origin: left top 0;
   -ms-transform-origin: left top 0;
   transform-origin: left top 0;
   float: left;
   position: relative;
   display: block;
   margin-top: 100px;
   margin-left: 45%;
   width: 100px;
   height: 30px;
/*   animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-name: apareceletra;
    -webkit-animation-name: apareceletra;*/
  
}
 .barras::before{
     content: attr(data-porcen);
     float: left;
     color: #f1f1f1;
     margin: auto;
     text-shadow: -1px 0 grey, 0 1px grey,1px 0 grey, 0 -1px grey;
     animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-name: apareceletra;
    -webkit-animation-name: apareceletra;
    width: 100%;
    text-align: center;
 }
 *.np{
    display: inline-block;
    position: static;
    height: 95.5%;
    margin: 0;
    padding: 0;
    
    
}

.np > ul{
    height: 100%;
    width: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.np > ul > li{
    height: 10%;
    margin:0;
}

.solosolo{
 animation-name: subir;-webkit-animation-name: subir   
}
.solotex{
    animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-name: apareceletra;
    -webkit-animation-name: apareceletra;
}
@media (max-width: 599px) and (min-height: 600px){
    
    .contenedorG{
        height: 390px;
        border-left: 0;
        border-bottom: 1px solid #000;
        
    }
    .np{
        height: 96%;
    }
    .barras span::after{
        font-size: 115%;
        text-align: left;
    }
    
    
}

@media (min-width: 600px) and (max-width:960px){
    
    
}

@keyframes subir{
    0% {height: 0%;}
    50% {height: 50%;}
    85% {height: 100%;}
    95%{transition: linear;}
}

@-webkit-keyframes subir{
    0% {height: 0%;}
    50% {height: 50%;}
    85% {height: 100%;}
    95%{-webkit-transition: linear;}
}

@keyframes apareceletra{
    0% {opacity: 0}
    90%{opacity: 0}
    98%{opacity: 0.5}
    100%{opacity: 1}
}
@-webkit-keyframes apareceletra{
    0% {opacity: 0}
    90%{opacity: 0}
    98%{opacity: 0.5}
    100%{opacity: 1}
}

