/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/05/2015, 02:01:08 PM
    Author     : Cesar Flores
*/

*{
    margin: 0;
}
html,body{
    display: block;
    width: 100%;
    min-width: 315px;
    height: auto;
    background-color: #f7f7f7;
}
.logo{
    position: fixed;
    width: 100%;
    font-size: 100%;
    min-width: 50px;
    z-index: 9;
    
}
.logo h2{
    width: 100%;
    float: left;
    z-index: 0;
    color: #000;
    font-size: 12px;
    position: absolute;
    text-align: center;
    
}

.logogif{
    width: 200px;
    display: block;
    position: relative;
    z-index: 999;
    background-position: 0 0;
    background-color: #37B597;
    margin-left: auto;
    margin-right: auto;
}
/*menu*/
nav{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 157, 131, 0.95);
    color: #f7f7f7
    
;
}

nav ul{
    width: 100%;
    margin-top: 70px;
    padding: 0;
    position: absolute;
    text-align: center;
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-name: apareceletra;
    -webkit-animation-name: apareceletra;
}


nav ul li{
    width: 315px;
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-size: 200%; 
    padding-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
}

#barra{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #37B597;
    z-index: 999;
}

a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: #f7f7f7;
    transition: ease-in-out 1s;
}
a:hover{
    color: #000;
}
li p{
    content: ">";
    font-family: monospace;
    font-size: 130%;
}
.seleccion{
    color: #000;
    text-decoration: none;
}

.animatemenu{
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-name: aparecemenu;
    -webkit-animation-name: aparecemenu;
    
}

/*articulos*/
body section{
    display: block;
    height: auto;
    
    
}
article{
    display: block;
    width: 100%;
    height: auto;
    
}
article:nth-child(2n+1){
    background-color: #FFFFFF;
}

#te{
    display: block;
    width: 99%;
    height: auto;
    
}

#str{
    display: block;
    width: 99%;
    height: auto;
    
}

    
    blockquote{
        font-style: oblique;
        font-size: 15px;
        font-family: sans-serif;
    
        width: 90%;
        margin: 2px;
}
    /*espacio entre secciones*/
    .espacio{
        width: 100%;
        height: 50px;
    }
    
    /*tablas*/
    table{
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        border: 1px solid #dddddd;
        border-spacing: 0;
        border-collapse: collapse;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
}

thead tr{
    border: 1px solid #dddddd;
    
}
thead tr th{
    border: 1px solid #dddddd;
}
tr:nth-child(even) {
  background-color: #F1F1F1;
}

td img{
    width: 100%;
    height: auto;
    position: static;
    
}
/*para las imagenes de proyectos*/
.proyectosweb{
    width: 100%;
    height: 200px;
    background-size: 100% 100%;
    background-color: #DDDDDD;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-duration: 2s;
    margin-bottom: 8px;
    border: 1px solid #777777;
    position: relative;
    
}

.proyectosweb:hover{
    background-size: 120% 120%;
}

.proyectosweb span {
    width: 100%;
    height: 41%;
    background-color: rgba(36, 117, 98, 0.76);
    color: #DDDDDD;
    font-size: 110%;
    text-align: center;
    position: absolute; 
    bottom: 0;
}
span a{
    font-weight: bold;
    text-decoration: none;
    color: #f1f1f1;
       
}

/*quien soy*/

.quiens{
    width: 100%;
    height: 100%;
    background-color: #5E6160;
}
.quiens header h2{
    float: left;
    margin-top: 61px;
    width: 100%;
    text-align: center;
    position: relative;
    color: #FFFFFF;
    text-shadow: -2px 0 #404140, 0 2px #404140,2px 0 #404140, 0 -2px #404140;
    font-size: 120%;
    
}

#contienea{
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.contienea{
    width: 100%;
    height: auto;
    position: relative;
    float: left;
}

#cesar{
    width: 150px;
    height: 150px;
    border: 2px solid grey;
    border-radius: 100%;
    /* margin: 0 auto; */
    background-image: url(../image/cesar.jpg);
    background-size: 250px 250px;
    background-position: 0px 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
}
#descripcion{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: #f1f1f1;
}
#descripcion ul{
    list-style-type:none;
    padding: 0;
}

/*video*/
#uno{
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: black;
    position: relative;
}
video{
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-color: #071713;
        
}
#mensaje{
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: 25%; /*70px pantalla grande */
    background-color: rgba(47, 155, 130, 0.5);
    color: #DDDDDD;
    text-align: center;
    
}
#mensaje h1 {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 1%;
    font-size: 175%;    
}
    
#menu{
        width: 32px;
        height: 30px;
        position: fixed;
        top: 8px;
        left: 5px;
        transition-timing-function: linear;
        -webkit-transition-timing-function: linear;
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        z-index: 99;
        
}

.menu-1{
    width: 32px;
    height: 30px;
    margin: 0;
    padding: 0;
    background-image: url(../image/menu/menu-42.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition-timing-function: linear;
        -webkit-transition-timing-function: linear;
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        z-index: 99;
}
.menu-2{
    width: 32px;
    height: 30px;
    margin: 0;
    padding: 0;
    background-image: url(../image/menu/back-42.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition-timing-function: linear;
        -webkit-transition-timing-function: linear;
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        z-index: 99;
}

/*contacto*/
footer{
    width: 100%;
    height: 100%;
    border-top: 5px solid #777777;
    text-align: center;
}
.contacto{
    width: 100%;
    height: auto;
    text-align: center;
    
    
}

form{
    width: 100%;
    height: 60%;
    
}
input[type=text],input[type=email],input[type=tel]{
    display: block;
    width: 100%;
    height: 30px;
    border: 0;
    margin-bottom: 15px;
    background-color: rgba(247, 247, 247, 0.38);
    border-bottom: 1px solid #DDDDDD;
    border-radius: 4px;
    
}
input[type=text]:focus,input[type=email]:focus,input[type=tel]:focus{
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgba(36, 117, 98, 0.51);
    
}
input[type=submit]{
    border: 0;
    width: 100px;
    height: 40px;
    color: #f1f1f1;
    background-color: rgba(36, 117, 98, 1);
}
textArea{
    display: block;
    width: 100%;
    height: 23%;
    min-height: 70px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    border: 0;
    margin-bottom: 15px;
    background-color: rgba(247, 247, 247, 0.38);
    border-bottom: 1px solid #DDDDDD;
    border-radius: 4px;
}
textArea:focus{
     border: 0;
    outline: 0;
    border-bottom: 1px solid rgba(36, 117, 98, 0.51);
}
select{
    width: 100%;
    border: 0;
    margin-bottom: 15px;
    background-color: rgba(247, 247, 247, 0.38);
    border-bottom: 1px solid #DDDDDD;
    border-radius: 4px;
    color: #A9A9A9;
    
}
select:focus{
     border: 0;
    outline: 0;
    border-bottom: 1px solid rgba(36, 117, 98, 0.51);
}
#social{
    width: 100%;
  }
  #social a{
      text-decoration: none;
  }
 #face{
      display: inline-block;
      width: 60px;
      height: 60px;
      background-image: url(../image/fb.png);
      background-size: 48px 48px;
      background-repeat: no-repeat;
      background-position: center;
      transition-timing-function: linear;
      transition-duration: 0.7s;
      cursor: pointer;
  }
  #face:hover{
      border-radius: 100%;
      background-color: #4a6ea9;
  }
  #twitter{
      display: inline-block;
      width: 60px;
      height: 60px;
      background-image: url(../image/tw.png);
      background-size: 48px 48px;
      background-repeat: no-repeat;
      background-position: center;
      transition-timing-function: linear;
      transition-duration: 0.7s;
      cursor: pointer;
  }
  #twitter:hover{
      border-radius: 100%;
      background-color: #32def4;
  }

@media (max-height: 599px){
    html,body{
       height: auto; 
    }
    section,form{
        height: auto;
    }
    
    .quiens{
        height: 100%;
        min-height: 500px;
    }
/*    blockquote{
        font-size: 100%;
    }
    
    h2{
          font-size: 130%;
    }
    h3{
        font-size: 120%;
    }
    h4{
        font-size: 110%;
    }*/
    table{
          font-size: 110%;
          text-align: center;
    }
    .proyectosweb span {
        font-size: 100%;
    }
    span a{
        /*font-size: 130%;*/
    }
    .quiens header h2 {
        margin-top: 48px;
        font-size: 120%;
    }
    .contienea{
        width: 40%;
    }
    #cesar {
        width: 150px;
        height: 150px;
        background-size: 250px 250px;
        margin-left: 5px;
        margin-right: 0;
        margin-top: 30px;
    }
    
    #descripcion {
        width: 60%;
        margin-top: 15px;
        font-size: 100%;
    }
    input,select,textarea{
        font-size: 100%;
    }
}
@media  (max-width: 599px) and (orientation: landscape){
    nav ul {
        margin-top: 50px;
    }
    nav ul li {
        width: 200px !important;
        padding: 15px !important;
        margin: 0 !important;
        font-size: 150%;
    }
    section article{
        height: auto;
        min-height: 300px;
        
    }
    section article section article{
        height: auto;
        margin-bottom: 10px;
        
    }
    .quiens{
        height: 100%;
        min-height: 480px;
    }
    .quiens header h2 {
        margin-top: 45px;
    }
    .proyectosweb {
        height: 250px;
    }
    .contienea{
        width: 40%;
    }
    #cesar{
        margin-left: 5px;
        margin-right: 0;
    }
    #descripcion {
        width: 60%;
        margin-top: 15px;
    }
    
}

@media (max-width: 599px) and (orientation: portrait){
    #contienea{
    width: 100%;
    height: auto;
    }
    .contienea{
        width: 100%;
        height: auto;
    }
    #cesar{
        width: 150px;
        height: 150px;
        background-size: 250px 250px;
        background-position: 0px 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 9px;
    }
    #descripcion{
        float: left;
        width: 100%;
        margin-top: 10px;
    }

}
@media (max-width: 599px) and (min-height: 600px){
/*    blockquote{
        font-size: 115%;
    }
    
    h2{
          font-size: 170%;
    }
    h3{
        font-size: 150%;
    }
    h4{
        font-size: 130%;
    }
    table{
          font-size: 120%;
          text-align: center;
    }
    .proyectosweb span {
        font-size: 115%;
    }
    span a{
        font-size: 150%;
    }
    .quiens header h2 {
        font-size: 250%;
    }*/
    #cesar {
        width: 200px;
        height: 200px;
        background-size: 300px 300px;
    }
    #descripcion {
        font-size: large;
        margin-top: 15%;
    }
    input,select,textarea{
        font-size: 110%;
    }
}


@media (min-width: 600px) and (max-width:960px){
    
    #mensaje {
        position: absolute;
        bottom: 0%;
        height: 25%;
    }
    #mensaje h1 {
        position: absolute;
        width: 100%;
        height: 100%;
        padding-top: 3%;
        font-size: 300%;
    }
    nav ul {
        font-size: 140%;
    }
    nav ul li {
        padding-bottom: 25px;
    }
    section article section article{
        display: inline-block;
        width: 48%;
        height: 100%;
        margin-bottom: 10px;
        border: 1px solid #DDDDDD;
        border-radius: 15px;
        
    }
    section article section article:nth-child(2n+1){
        background-color: #FFFFFF;
        margin-right: 10px;
    }
    
    blockquote{
        font-size: 115%;
    }
    
    h2{
          font-size: 170%;
    }
    h3{
        font-size: 150%;
    }
    h4{
        font-size: 130%;
    }
    table{
          font-size: 120%;
          text-align: center;
          
    }
    .proyectosweb {
        width: 49%;
        height: 250px;
        display: inline-block;
    }

    .proyectosweb:hover{
        background-size: 120% 120%;
    }

    .proyectosweb span {
        font-size: 120%;
        height: 25%;
    }
    .proyectosweb span a {
        font-size: 120%;
    }
    
    .quiens header h2 {
        font-size: 250%;
    }
    
    
    input,select,textarea{
        font-size: 110%;
    }
    
    td img {
        width: 150px;
        
    }
    
    
    #cesar {
        width: 250px;
        height: 250px;
        background-size: 350px 350px;
        font-size: x-large;
        margin-top: 10px;
    }
    #descripcion {
        font-size: x-large;
        margin-top: 20px;
    }
    form {
        width: 80%;
        height: 60%;
        margin-left: auto;
        margin-right: auto;
    }




}

@media (max-width:960px) and (orientation: landscape){
    
   nav ul li {
        display: inline-block;
        width: 315px;
        padding: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
}
@media (min-width:961px) and (max-width:1920px){
    #barra{
        height: 80px;
    }
    #menu{
        display: none;
    }
    .logo {
        width: 200px;
        height: 80px;
        font-size: 100%;
        min-width: 200px;
        z-index: 9;
        display: inline-block;
        position: relative;
    }
    .logo h2 {
        width: 200px;
        float: left;
        font-size: 100%;
    }
    .logogif {
        /*width: 300px;
        height: auto;
        min-height: 80px;*/
        /*display: inline-block;*/
        /*margin: auto;*/
        -moz-box-sizing: border-box;
          box-sizing: border-box;
          background: url(../image/cesar-flores.png) no-repeat;/* La imagen sustituta */
          width: 200px; /* La anchura de la nueva imagen */
          height: 80px; /* La altura de la nueva imagen */
          padding-left: 200px; /* Igual a la anchura de la nueva imagen */
          background-color: #37B597;
          position: absolute;
          top: 0;
      }
      
    nav{
        display: inline-block;
        width: 78%;
        height: 80px;
        background-color: #37B597;
    }
    nav ul{
        width: 100%;
        height: 80px;
        display: inline-block;
        margin-top: 10px;
    }
    nav ul li{
        width: 16%;
        min-width: 110px;
        padding-bottom: 0;
        display: inline-block;
        font-size: 110%;
    }
    #mensaje{
        bottom: 0;
        height: 10%;
    }
    section article section{
        display: block;
    }
    section article section article{
        display: inline-block;
        width: 49%;
        height: auto;
        
    }
    section article section article h3{
        display: none;
    }
    table{
        text-align: center;
    }
    tbody tr:hover{
        background-color: rgba(55, 181, 151, 0.2);
    }
    td img{
        width: 200px;
        text-align: center;
    }
    .proyectohecho{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .proyectosweb{
        width: 49.5%;
        max-width: 800px;
        height: 400px;
        display: inline-block;
        
    }
    .proyectosweb span a{
        font-size: x-large;
    }
    .quiens header h2 {
        margin-top: 80px;
        font-size: 120%;
    }
    #cesar {
        width: 250px;
        height: 250px;
        background-size: 350px 350px;
    }
    #descripcion {
        margin-top: 70px;
        font-size: 130%;
    }
    form{
        height: 60%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media(min-width: 1890px){
    .proyectosweb{
        margin-left: 30px;
    }
}
@media (min-width: 1921px){
    #barra{
        height: 100px;
    }
    #menu{
        display: none;
    }
    .logo {
        width: 300px;
        height: 80px;
        font-size: 100%;
        min-width: 200px;
        z-index: 9;
        display: inline-block;
        position: relative;
    }
    .logo h2 {
        width: 300px;
        float: left;
        font-size: 100%;
    }
    .logogif {
        /*width: 300px;
        height: auto;
        min-height: 80px;*/
        /*display: inline-block;*/
        /*margin: auto;*/
        -moz-box-sizing: border-box;
          box-sizing: border-box;
          background: url(../image/cesar-flores.png) no-repeat;/* La imagen sustituta */
          width: 300px; /* La anchura de la nueva imagen */
          height: 80px; /* La altura de la nueva imagen */
          padding-left: 300px; /* Igual a la anchura de la nueva imagen */
          background-color: #37B597;
          position: absolute;
          top: 0;
      }
      
    nav{
        display: inline-block;
        width: 78%;
        height: 80px;
        background-color: #37B597;
    }
    nav ul{
        width: 100%;
        height: 100px;
        display: inline-block;
        margin-top: 10px;
    }
    nav ul li{
        width: 16%;
        min-width: 110px;
        padding-bottom: 0;
        display: inline-block;
        font-size: 120%;
    }
    #mensaje{
        bottom: 0;
        height: 10%;
    }
    #mensaje h1{
        font-size: 250%;
    }
    section article section{
        display: block;
    }
    section article section article{
        display: inline-block;
        width: 49%;
        height: auto;
        
    }
    section article section article h3{
        display: none;
    }
    table{
        text-align: center;
    }
    tbody tr:hover{
        background-color: rgba(55, 181, 151, 0.2);
    }
    td img{
        width: 400px;
        text-align: center;
    }
    
    .proyectosweb{
        width: 49%;
        height: 800px;
        display: inline-block;
    }
    .quiens header h2 {
        margin-top: 100px;
    }
    .quiens{
        height: 50%;
    }
    #cesar {
        width: 450px;
        height: 450px;
        background-size: 450px 450px;
        margin-top: 100px;
    }
    #descripcion {
        margin-top: 100px;
        font-size: 200%;
    }
    form{
        height: 60%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
}

@keyframes aparecemenu{
    from{
        width: 0;
        
    }
    to{
        width: 100%;
        
    }
}

@-webkit-keyframes aparecemenu{
    from{
        width: 0;
        
    }
    to{
        width: 100%;
        
    }
}

